{% extends "base.html" %}

{% block title %}Sign in{% endblock %}

{% block content %}
<h1>Please sign in</h2>
  <form method="post">
    {% csrf_token %}
    <div class="my-3 form-floating">
      <input type="email" class="form-control" id="id_username" name="username" placeholder="name@example.com"
        autofocus="" autocapitalize="none" autocomplete="username" maxlength="254" required="">
      <label for="id_username">Email address</label>
    </div>
    <div class="my-3 form-floating">
      <input type="password" class="form-control" id="id_password" name="password" placeholder="Password"
        autocomplete="current-password" required="">
      <label for="id_password">Password</label>
    </div>
    <div class="my-3">
      <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
    </div>
  </form>
  {% endblock %}